.rbt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rbimg{
    width: 300px;
    margin-right: 20px;
    border: 5px solid rgba(0, 0, 0);
}
.showrbimg{
   height: 320px;
}